.author-content{
    background-color: rgb(63, 129, 129);
    height: 100%;
    min-height: 250px;
    position: relative;
}
.author-name, .author-descrip{
    
    color: rgb(38, 24, 24);
    padding-left: 10px;
    font-size: 18px;
}

.author-name{
    padding-top: 30px;
    font-size: 60px;
    width: 205px;
}
.author-picture{
    height: 100px;
    position: absolute;
    right: 10px;
    top: 45px;
    border-radius: 20px;
}
.author-descrip{
    padding-top: 5px;
}
@media (min-width: 500px){
    .author-picture{
        height: 150px;
        position: absolute;
        right: 10px;
        top: 50px;
        border-radius: 20px;
    }
    .author-descrip{
       font-size: 15px;
       
    }
}